<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="h-full">

    <nav class="bg-white border-b border-gray-200">
      <div class="max-w-7xl px-4">
        <div class="flex justify-between h-16">
          <div class="flex">
            <div class="-my-px ml-2 flex space-x-8">
              <a href="/" class="border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium" aria-current="page">
                Posts
              </a>
            </div>
          </div>
          <div class="ml-6 flex items-center">
            <div class="ml-3 relative">
              <% if current_user %>
                <%= current_user.username %> (<%= current_user.role %>)
                <%= link_to("New Post", new_post_path, class: "ml-4 btn btn-indigo") %>
              <% else %>
                <%= link_to("Login", "/login") %> -
                <%= link_to("Signup", "/register") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="m-4">
      <%= yield %>
    </div>
  </body>
</html>
